
@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}



.contact-main {
        display: block;
        padding-top: 2rem;
    
        p {
            font-weight: 300;
            font-size: 1.5rem;
            margin-block-start: 2rem;

        }

        .about-img {

           
            float: right;
            margin-top: -10.5rem;
            margin-right: -10rem; 
            shape-outside:polygon(606px 228px, 615px -112px, 350px -70px, 313px 68px, 270px 365px, 208px 416px, 218px 527px, 288px 593px, 380px 674px, 670px 772px);
            shape-margin: 2rem;
        
            img {
            max-height: 100vh;
            object-fit: cover;
            }
        
        }

}


div.contact-content {
    width: 100%;
    margin: auto;
    // overflow: hidden;

 h1 {
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 3rem;
    margin-block-start: 2rem;
    margin-block-end: 1rem;


    }
    
}

div.contact-main h1 {
    font-size: 3.5rem;
    font-weight: 100;
}


.contact-info {
    flex-flow: wrap;
    display: flex;
    height: 250px;
    max-width:100%;
    flex-wrap: wrap;

    .contact-details {
    margin-right:2rem;

        ul {
            width: 100%;
            margin: auto;

            li{
            color: white;
            font-size: 1rem;
            padding-right: 1rem;
            padding-bottom: 0.5rem;
            
            }
        }
    }
    
    .contact-socials { 
        ul li{
            margin-right: 0.5rem;
            color: white;
            display: inline;
            font-size: 1rem;
            font-family: 'Roboto';
            font-weight: 300;

            &::before {
                content: "|";
                padding-right: 0.5rem;
            }
        }
    }
}

@media screen and (max-width:1000px){
    #header header{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    min-height: 100%;
    overflow-x:hidden;
    //fix this??
}

div.body-content{
    margin: 0rem;

    height: fit-content;
    padding: 0;
    max-width: 100%;


}

.contact-main {

    position: relative;
    padding: 4rem;
    padding-bottom: 0;

    p {
        font-weight: 300;
        font-size: 1.3rem;
        margin-block-start: 2rem;
    }

    .about-img {
        // display: none;

        width: 100%;
       margin-top: -5rem;;
       margin-right: -7rem;
        shape-outside:polygon(606px 228px, 630px 13px, 366px 74px, 325px 217px, 408px 374px, 367px 506px, -60px 554px, -33px 764px, 645px 704px, 710px 948px);
        shape-margin: 3rem;
    
        img {
        max-height: 100vh;
        object-fit: cover;
        }
    
    }

}


div.contact-content {
width: 100%;
overflow-x: hidden;
}

div.contact-info h1{
    font-weight: 400;
}
div.contact-main h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 100;
    font-size: 4rem;
    text-align: end;
}

.contact-info {
    justify-content: center;
    }
}

@media (max-width:599px){ //phone

    div.contact-content {
        width: 100%;
        padding: 2rem;

        padding-top: 10rem;

    }
    div.contact-main h1 {
        margin: 0;
         font-weight: 350;
         font-size: 1.7rem;
         text-align: start;
     }


     .contact-main {
        display: block;
        padding: 0;

       

    
    
        p {
            font-weight: 300;
            font-size: 1rem;
        }

        .about-img {
           float: left;
            position: relative;
            margin: -10rem 0 0 0;
            shape-outside: none;

        
            img {
                // display: none;
                width: 130%;
                // height: 100%;
                margin-left: -3rem;
                margin-bottom: 0;
                padding: 0;

            object-fit: cover;
            }
        
        }
    }
    div.contact-info { 
        height: min-content;
        padding-bottom: 5rem;
        h1 {
            font-size: 2rem;
            text-align: left;
        }

        .contact-socials, .contact-details{
            width: 100%;
        }


       
    }

}

